<div class="inline-flex items-center">
  <label class="flex items-center cursor-pointer relative">
    <input
      type="checkbox"
      checked
      class="peer h-6 w-6 transition-all appearance-none rounded-sm outline-none bg-gray-100 cursor-pointer"
      style="
        box-shadow:
          -2px -2px 4px rgba(255, 255, 255, 0.8),
          2px 2px 4px rgba(0, 0, 0, 0.2);
      "
      [id]="checkboxId()"
    />
    <span
      class="absolute text-gray-600 opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none transition-opacity duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-3.5 w-3.5"
        viewBox="0 0 20 20"
        fill="currentColor"
        stroke="currentColor"
        stroke-width="1"
      >
        <path
          fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </span>
  </label>
  <div
    class="ml-4 py-1 bg-gray-100 shadow-lg rounded-lg"
    style="
      box-shadow:
        -2px -2px 4px rgba(255, 255, 255, 0.8),
        2px 2px 4px rgba(0, 0, 0, 0.2);
    "
  >
    <label class="px-4 cursor-pointer" [for]="checkboxId()"
      >{{ this.text() }}</label
    >
  </div>
</div>
